.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    background-color: var(--background-color-dark);
    color: var(--background-color);
    padding: 2px 25px;
    /* flex-wrap: wrap; */
    /* responsive wrap support */
}

.header-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 5px;
    width: 40%;
    /* background-color: aqua; */

}
.text{
    font-family: 'Poppins', sans-serif;
    color: var(--text-color-light);
    font-size: 14px;

}

.call-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
   padding-left: 8px;
    gap: 8px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    width: 100%;
    gap: 15px;
    /* background-color: aqua; */

}

.login-register {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.login-register:hover{
    color: var(--text-hover-color);

}

/* ---------------------------------------- */
.menuItems {
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.menuItems2 {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menuItems .menutext {
    font-size: 16px;
    padding: 10px 10px;
    color: #222222;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.menutext:hover{
    color: var(--text-hover-color);


}
.menutext:hover .menuIcon{
    color: var(--text-hover-color);


}








/* Responsive for desktops */
@media (max-width: 1024px) {
    .header-left {
        width: 43%;
    }

    .header-right {
        width: 20%;
    }
}
@media (max-width: 767px) {
    .header-left {
        width: 55%;
    }

    
}
/* Responsive for tablets */
@media (max-width: 600px) {
    .header-left {
        flex-direction: row;
        justify-content: space-between;
        width: 50%;
        align-items: center;
    }

    .header-right {
        width: 35%;
        justify-content: space-between;
    }
    .icon{
        margin-right: -25px;
    }
}