.cart-container {

    padding: 10px;

}

.cart-table {
    width: 100%;
    border-collapse: collapse;

}

.cart-table thead tr {
    background-color: #f5f5f5;
}

.cart-table th,
.cart-table td {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-image {
    width: 80px;
}

.original-price {
    text-decoration: line-through;
    color: #999;
}

.savings {
    color: var(--text-hover-color);
    font-size: 14px;
}

.quantity-control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    padding: 5px 10px;
    background-color: transparent;
    border: 1px solid #ddd;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.item-total {
    color: var(--text-hover-color);

    font-weight: bold;
}

.remove-button {
    background-color: transparent;
    border: 1px solid #ddd;
    padding: 5px 10px;
    cursor: pointer;
}

.total-price {
    text-align: right;
    margin-top: 20px;
    font-size: 20px;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.continue-button,
.checkout-button {
    background-color: var(--text-hover-color);
    color: white;
    padding: 12px 25px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
}

.paginationBtns {
    display: flex;
    width: 100%;
    justify-content: end;
    margin: 5px;
}

@media (max-width: 768px) {
    .cart-table thead {
        display: none;
    }

    .cart-table,
    .cart-table tbody,
    .cart-table tr,
    .cart-table td {
        display: block;

        width: 100%;
    }

    .cart-table tr {
        margin-bottom: 15px;
        border-bottom: 2px solid #eee;
        background-color: #f5f5f5;
        border-radius: 10px;
        width: 100%;

    }

    .cart-table td {
        text-align: left;
        padding-left: 50%;
        position: relative;
    }

    .cart-table td::before {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        white-space: nowrap;
        font-weight: bold;
    }

    .cart-table td:nth-child(1)::before {
        content: "Image";
    }

    .cart-table td:nth-child(2)::before {
        content: "Product Name";
    }

    .cart-table td:nth-child(3)::before {
        content: "Price";
    }

    .cart-table td:nth-child(4)::before {
        content: "Quantity";
    }

    .cart-table td:nth-child(5)::before {
        content: "Total";
    }

    .cart-table td:nth-child(6)::before {
        content: "Action";
    }

    .cart-actions {
        flex-direction: column;
        gap: 10px;
    }

    .continue-button,
    .checkout-button {
        width: 100%;
    }
}

